@import "../../Styles/common.scss";
@keyframes marquee {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

.Main {
  overflow: hidden;
  .slick-slider {
    ul {
      bottom: 8%;
      background: transparent;

      li {
        background: transparent;
      }
    }
  }

  .shop {
    background: transparent;
    position: absolute;
    left: 47%;
    top: 57vw;

    .link {
      background-color: transparent;
      color: $default-yellow;
      font-weight: 500;
    }

    p {
      background: transparent;
      color: $default-yellow;
      font-size: 1.5rem;
    }
  }

  // .marquee {
  //   height: 25px;
  //   width: 100%;
  //   position: relative;
  //   background-color: $default-yellow;
  //   overflow: hidden;
  //   div {
  //     width: 450%;
  //     padding: 0;
  //     height: 13px;
  //     background-color: transparent;
  //     position: absolute;
  //     bottom: 0;
  //     display: flex;
  //     animation: marquee 9s linear infinite;

  //     span {
  //       font-size: 15px;
  //       font-weight: 500;
  //       display: block;
  //       padding: 0;
  //       float: left;
  //       margin-right: 0;
  //       padding-right: 0;
  //     }
  //   }
  // }

  .productSection {
    width: 100%;
    height: 110vh;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    padding-top: 2%;
    p {
      font-size: 5.56vw;
      line-height: 4.72vw;
      &:first-child {
        margin-top: 3%;
      }
    }

    .items {
      margin-top: 5%;
      position: relative;
    }

    .shopNow {
      font-size: 3vw;
      font-weight: 500;
      margin-top: 2.2vw 0;

      .link {
        color: $default-black;
      }
    }

    .slick-slider {
      margin-left: 50px;
    }

    .arrow {
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      margin: 0 50px;
    }

    .arrowLeft,
    .arrowRight {
      position: absolute;
      top: 20%;
      background-color: transparent;
      width: 11%;
      height: 37%;
    }

    .arrowLeft {
      left: 30px;
    }

    .arrowRight {
      right: 30px;
    }
  }

  .NewsletterSection {
    display: flex;
    border-top: 1.5px $default-black solid;

    img {
      width: 50%;
      height: 85vh;
    }

    div {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      font-weight: 800;

      form {
        input,
        button {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}
