@import "../../Styles/common.scss";

.Cart {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -650px;
  background: transparent;
  z-index: 1;
  transition: all 0.4s ease-out;
  
  &.visible {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
  }

  .cartContainer {
    width: 50%;
    height: 100%;
    border: 1px solid red;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    background: $default-yellow;
    padding: 2.78vw 4.17vw;

    .cartHeader {
      display: flex;
      justify-content: space-between;
      background: transparent;
      padding-bottom: 2vw;
      border-bottom: $default-border;
      border-bottom-width: 3.5px;
      
      p {
        padding: 0.6vw 0px;
        background: transparent;

        font: $button-meta-font;
        font-size: 2.78vw;
        line-height: 2.36vw;
        text-transform: none;

        span {
          background: transparent;
        }
      }

      button {
        background: transparent;

        img {
          background: transparent;
          width: 1.3vw;
          height: 1.3vw;
        }
      }
    }
    .cartBodyWrapper {
      height: calc(100% - 8.33vw);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: $default-yellow;

      .cartListContainer {
        background: $default-yellow;
        display: flex;
        flex-direction: column;

        * {
          background: transparent;
          font: $cart-body-font;
        }

        .cartList {
          .itemContainer {
            .itemDetailsWrapper {
              display: flex;
              justify-content: space-around;
              max-height: 15.14vw;
              padding: 0.76vw 0vw;
              border-bottom: $default-border;
              border-bottom-width: 1px;

              .imageContainer {
                display: relative;
                width: 4.17vw;
                height: 5.76vw;
                background-color: $default-white;

                img {
                  width: 100%;
                  height: 100%;
                  padding: 1.04vw 0px;
                  position: relative;
                }
              }
              .itemDetails {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.11vw;
                line-height: 1.18vw;
                padding-left: 1.39vw;

                span {
                  max-width: 11vw;
                  line-height: 1.18vw;
                }

                .itemCounter {
                  width: 8vw;
                  display: flex;
                  justify-content: space-around;

                  button {
                    cursor: pointer;
                  }

                  div {
                    height: 2.36vw;
                    width: 2.36vw;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    font-size: 1.11vw;
                    line-height: 1.18vw;
                  }
                }
                .price {
                  max-width: 50vw;
                  display: block;

                  span {
                    font: $button-meta-font;
                    line-height: 1.04vw;
                    text-align: center;
                  }
                }

                .deleteBtn {
                  display: block;

                  font: $button-meta-font;
                  line-height: 1.04vw;
                  text-align: center;
                }
              }
            }
          }
        }
      }

      .upsellProductsContainer {
        height: 15.56vw;
        position: relative;
        display: flex;
        align-items: flex-end;
        border-bottom: $default-border;
        background-color: $default-yellow;

        * {
          background-color: transparent;
          font: $cart-body-font;
        }

        p {
          height: 12.64vw;
          padding-top: 9.5%;
          flex-wrap: wrap;

          span {
            text-decoration: underline;
            text-transform: none;
            font-size: 1.81vw;
            line-height: 2.15vw;
            font-weight: 400;
          }
        }

        .upsellProducts {
          width: 100%;
          height: 12.64vw;
          display: flex;
          position: relative;
          top: 0px;
          justify-content: flex-end;
          

          .productCard {
            display: flex;
            flex-direction: column;

            .upsellPhotoWrapper {
              width: 7.78vw;
              height: 9.69vw;
              position: relative;
  
              a {
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }

            p {
              font-size: 0.69vw;
              line-height: 0.69vw;
            }
          }
          .productCard:not(:last-child) {
            margin-right: 1.39vw;
          }
        }
      }
      .continueToPayment {
        height: 13.19vw;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: $default-yellow;

        .totalPrice {
          display: flex;
          justify-content: space-between;
          font: $cart-body-font;
          padding: 1.39vw 0vw;
          background-color: $default-yellow;

          p {
            background-color: $default-yellow;
            padding-bottom: 0.69vw;
          }
        }
        .cartBtn {
          background: transparent;
          display: flex;
          justify-content: center;

          button {
            height: 4.51vw;
            width: 100%;
            font: $button-meta-font;
            font-size: 0.9vw;
            line-height: 1.39vw;
            background: $default-black;
            color: $default-white;
            
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}