@import "../../Styles/common.scss";

.Footer {
  width: 100%;
  height: 100vh;

  .section1,
  .section2,
  .section3 {
    border: 1px solid black;
    height: 33vh;
  }

  .section1 {
    display: flex;

    div {
      border: 1px solid black;
      @include flex-center;
      width: 50%;
      font-weight: 800;
      font-size: 1.3rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .section2 {
    .subscribe {
      font-size: 1.3rem;
    }

    .detail {
      margin: 40px;
      height: 50%;
      display: flex;
      justify-content: space-between;
      font-size: 0.6rem;
      font-weight: bold;
      padding: 5px;

      .help {
        display: flex;
        padding: 10px;

        div {
          padding: 0 10px;
        }
      }
    }

    form {
      margin: -30px 40px;

      input,
      button {
        border-bottom: 1px solid black;
      }
    }
  }

  .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    font-weight: 800;
  }
}
