@import "../../Styles/common.scss";

.Footer {
  width: 100%;
  height: 100vh;

  .section1,
  .section2,
  .section3 {
    border: 1px solid black;
    height: 33vh;
  }

  .section1 {
    display: flex;

    div {
      border: 1px solid black;
      @include flex-center;
      width: 50%;
      font-weight: 800;
      font-size: 1.3rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .section2 {
    .detail {
      margin: 40px;
      height: 50%;
      display: flex;
      justify-content: space-between;
      font-size: 0.6rem;
      padding: 5px;

      .subscribe {
        font-size: 1.3rem;
      }

      .help {
        display: flex;
        padding: 10px;
        text-align: right;
        div {
          padding: 0 10px;
        }
      }
    }
    
    .email {
      position: absolute;
      top: 55%;

      form {
        margin-left: 40px;

        input,
        button {
          border-bottom: 1px solid black;
        }
      }
    }

    .marquee {
      height: 25px;
      width: 220px;
      margin: 0 40px;
      overflow: hidden;
      position: relative;
    }

    .marquee div {
      display: block;
      width: 200%;
      height: 30px;
      position: absolute;
      overflow: hidden;

      animation: marquee 2s linear infinite;
    }

    .marquee span {
      float: left;
      width: 50%;
      background: $default-yellow;
    }

    @keyframes marquee {
      0% {
        left: 0;
      }
      100% {
        left: -100%;
      }
    }
  }

  .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    font-weight: 800;
  }
}
