@import "../../../../Styles/common.scss";
@keyframes enterMouse {
  0% {
    left: 460px;
  }
  100% {
    left: 0px;
  }
}
@keyframes leaveMouse {
  0% {
    left: 0px;
  }
  100% {
    left: 460px;
  }
}
@keyframes enterMouseSmile {
  0% {
    top: 22%;
    left: 40%;
  }
  100% {
    width: 6vw;
    height: 6vw;
    top: 5%;
    left: 20%;
  }
}
@keyframes leaveMouseSmile {
  0% {
    width: 6vw;
    height: 6vw;
    top: 5%;
    left: 20%;
  }
  100% {
    top: 22%;
    left: 40%;
  }
}
@keyframes enterDeg {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(12deg);
  }
}
@keyframes leaveDeg {
  0% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(0);
  }
}

.Product {
  width: 21vw;
  height: 47vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
  margin-right: 4vw;
  position: relative;
  overflow: hidden;
  background-color: rgb(247, 247, 247);

  .link {
    background-color: transparent;
  }

  .productThumbnail {
    background-color: rgb(247, 247, 247);
    margin: 0;
    width: 21vw;
    height: 47vh;
    position: relative;
    left: 460px;
    animation: leaveMouse 2s;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    img:first-child {
      width: 120%;
      height: 120%;
      position: absolute;
      top: -15%;
      left: -10%;
      transform: scale(1);
      object-fit: cover;
    }

    .logoText {
      background-color: transparent;
      position: absolute;
      top: 10%;
      left: -10%;
      height: 300px;
      transition: 6s ease-out;
      animation: infinite;
    }
  }

  .logoIcon {
    width: 4.5vw;
    height: 4.5vw;
    background-color: transparent;
    position: absolute;
    top: 22%;
    left: 40%;
    animation: leaveMouseSmile 1s ease-in-out;
  }

  .productImg {
    width: 100%;
    background-color: transparent;
    width: 120px;
    height: 25vh;
    position: absolute;
    transform: rotate(0);
    animation: leaveDeg 0.4s ease-in;
    top: 12%;
    left: 33%;
  }

  span {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
    margin: 0 25px;
    position: absolute;
    bottom: 10px;
    margin-bottom: 100px;
    transition: color 0.3s ease-out;
    div {
      background-color: transparent;
      font-size: 0.9vw;
      font-weight: 500;
      margin: 0 25px;
    }
    div:last-child {
      background-color: $default-yellow;
      line-height: 20px;
      height: 20px;
      width: 50px;
      position: relative;
      transform: rotate(-3.17deg);
      padding-left: 5px;
      span {
        background-color: transparent;
        font-size: 0.7vw;
        top: -30%;
        right: -140%;
      }
    }
  }

  .animationContainer:hover .modelPhoto .logoText {
    left: -500px;
  }
  button {
    font-size: 0.9vw;
    font-weight: 600;
    width: 18vw;
    height: 8vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 20px;
  }
}

.Product:hover {
  .productThumbnail {
    animation: enterMouse 0.3s ease-out;
    animation-fill-mode: both;
    .logoText {
      left: -2000px;
    }
  }

  .logoIcon {
    animation: enterMouseSmile 0.3s ease-out;
    animation-fill-mode: both;
  }

  .productImg {
    animation: enterDeg 0.2s ease-in;
    animation-fill-mode: both;
  }

  span {
    div:first-child {
      color: $default-yellow;
    }
  }
}
