@import "../../../../Styles/common.scss";

.ColorOptionBox {
  background-color: rgba(247, 247, 247, 0.95);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flex-center;

  .colorOption {
    @include flex-center;
    margin-bottom: 15%;
    width: 100%;
    height: 150px;
    background-color: transparent;

    .color {
      background-color: transparent;
      z-index: 100000;
      margin: 0 10px;
      &.color1 {
        .circle {
          background-color: red;
        }
      }
      &.color2 {
        .circle {
          background-color: pink;
        }
      }
      &.color3 {
        .circle {
          background-color: orange;
        }
      }

      .circle {
        margin: 0;
        width: 70px;
        height: 70px;
        background-color: green;
      }

      p {
        margin-top: 5px;
        background-color: transparent;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}
