$default-yellow: rgb(255, 232, 0);
$default-blue: rgb(9, 127, 255);
$default-green: rgb(38, 218, 79);
$default-grey-background: rgb(247, 247, 247);
$default-grey-text: rgb(204, 204, 204);
$default-black: rgb(0, 0, 0);
$default-white: rgb(255, 255, 255);
$default-red: rgb(196, 41, 60);

$default-grey-meta: rgb(144, 144, 144);
$default-border: 2px solid rgb(0, 0, 0);
$button-meta-font: 500 0.83vw "Work Sans";

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: $default-white;
}

* {
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-spaceBetween-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-spaceBetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.loginRegister-BH {
  .loginContainer {
    position: relative;
    height: 100vh;
    width: 100vw;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .loginFormWrapper {
      @include flex-column;
      position: fixed;
      width: 29.17vw;
      left: 8.33vw;
      top: 50%;
      transform: translateY(-50%);
      left: 8.33vw;
      border: $default-border;

      .loginHeading {
        padding: 2vw 4.2vw;

        .loginFormTitle {
          font-weight: 400;
          text-decoration: underline;
          text-transform: capitalize;
          font-size: 1.81vw;
          line-height: 2vw;
        }
        .loginOptionTabs {
          padding-top: 1.8vw;

          .loginTab {
            font: $button-meta-font;
          }

          .registerTab {
            margin-left: 12px;
            color: $default-grey-meta;
            font: $button-meta-font;
            font-weight: 400;
          }
          .inactiveTab {
            color: $default-grey-meta;
            font: $button-meta-font;
            font-weight: 400;
          }

          .activeTab {
            font: $button-meta-font;
            margin-left: 12px;
          }
        }
      }
    }
  }
}
