@import "../../../Styles/common.scss";
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -300%;
  }
}

.Footer {
  width: 100%;
  height: 100vh;

  .footerTop {
    height: 37vh;
    display: flex;
    border-bottom: 2px solid black;
    border-top: 3px solid;

    div {
      width: 50%;
      font-weight: 800;
      font-size: 2.5vw;
      @include flex-center;
      &:last-child {
        border-left: 2px solid black;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .footerNewletter {
    .detail {
      height: 60%;
      padding: 5px;
      margin: 50px 40px 0 40px;
      display: flex;
      justify-content: space-between;
      font-size: 0.6rem;

      .subscribe {
        padding-top: 25px;
        font-size: 1.6rem;
        font-weight: 700;
      }

      .help {
        padding: 10px;
        display: flex;
        text-align: right;

        div {
          padding: 0 20px;

          p {
            margin-bottom: 0.7rem;
            font-size: 1.1rem;
            font-weight: 500;
            .link {
              color: $default-black;
            }

            &:first-child {
              font-weight: 700;
            }
          }
        }
      }
    }

    .email {
      margin-left: 40px;
      margin-bottom: 2vw;
      form {
        color: black;

        input {
          width: 20vw;
          border-bottom: 1px solid black;

          &::placeholder {
            color: black;
          }
        }

        button {
          border-bottom: 1px solid black;
        }

        input,
        button {
          font-weight: 650;
        }
      }
    }

    .marquee {
      height: 1.7vw;
      width: 18vw;
      position: relative;
      margin: 0px 2.78vw 1.39vw 40px;
      background-color: $default-yellow;
      overflow: hidden;
      div {
        width: 450%;
        padding: 0;
        height: 1vw;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        display: flex;
        animation: marquee 9s linear infinite;
        span {
          background-color: transparent;
          font: $button-meta-font;
          line-height: 0.6vw;
          display: block;
          padding: 0;
          float: left;
          margin-right: 0;
          padding-right: 0;
        }
      }
    }
  }

  .footerLogo {
    @include flex-center;
    font-size: 10rem;
    font-weight: 800;
  }

  span {
    position: absolute;
    background-color: transparent;
    margin-left: 15%;
  }
}
