@import "../../../Styles/common.scss";

.Footer {
  width: 100%;
  height: 100vh;

  .footerTop {
    height: 37vh;
    border: 1px solid black;
    display: flex;

    div {
      width: 50%;
      border: 1px solid black;
      font-weight: 800;
      font-size: 2.5vw;
      @include flex-center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .footerNewletter {
    .detail {
      height: 60%;
      padding: 5px;
      margin: 50px 40px 0 40px;
      display: flex;
      justify-content: space-between;
      font-size: 0.6rem;

      .subscribe {
        padding-top: 25px;
        font-size: 1.6rem;
        font-weight: 700;
      }

      .help {
        padding: 10px;
        display: flex;
        text-align: right;

        div {
          padding: 0 20px;

          p {
            margin-bottom: 0.7rem;
            font-size: 1.1rem;
            font-weight: 500;
            .link {
              color: $default-black;
            }

            &:first-child {
              font-weight: 700;
            }
          }
        }
      }
    }

    .email {
      form {
        margin-left: 40px;
        color: black;

        input {
          width: 20vw;
          border-bottom: 1px solid black;

          &::placeholder {
            color: black;
          }
        }

        button {
          border-bottom: 1px solid black;
        }

        input,
        button {
          font-weight: 650;
        }
      }
    }

    // .marquee {
    //   height: 2.8vh;
    //   width: 220px;
    //   margin: 20px 40px 0 40px;
    //   position: relative;
    //   overflow: hidden;
    // }

    .marquee {
      margin-left: 4%;
      height: 25px;
      width: 22%;
      position: relative;
      margin: 20px 40px 0 5s0px;
      background-color: $default-yellow;
      overflow: hidden;
      div {
        width: 450%;
        padding: 0;
        height: 13px;
        background-color: transparent;
        position: absolute;
        bottom: 5px;
        display: flex;
        animation: marquee 4s linear infinite;
        span {
          font-size: 15px;
          font-weight: 500;
          color: $default-black;
          background-color: transparent;
          display: block;
          padding: 0;
          float: left;
          margin-right: 0;
          padding-right: 0;
        }
      }
    }
    // .marquee {
    //   div {
    //     width: 200%;
    //     height: 4.8vh;
    //     display: block;
    //     position: absolute;
    //     overflow: hidden;
    //     animation: marquee 3s linear infinite;

    //     span {
    //       width: 50%;
    //       float: left;
    //       background: $default-yellow;
    //     }
    //   }
    // }
    @keyframes marquee {
      0% {
        left: 0;
      }
      100% {
        left: -300%;
      }
    }
  }

  .footerLogo {
    @include flex-center;
    font-size: 10rem;
    font-weight: 800;
  }

  span {
    position: absolute;
    background-color: transparent;
    right: 2%;
    bottom: -318%;
    margin-left: 15%;
  }
}
