$default-yellow: rgb(255, 232, 0);
$default-blue: rgb(9, 127, 255);
$default-green: rgb(38, 218, 79);
$default-grey-background: rgb(247, 247, 247);
$default-grey-text: rgb(204, 204, 204);
$default-black: rgb(0, 0, 0);
$default-white: rgb(255, 255, 255);

$default-grey-meta: rgb(144, 144, 144);
$default-border: 2px solid rgb(0, 0, 0);
$button-meta-font: 500 0.83vw "Work Sans";

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: $default-white;
}

* {
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-spaceBetween-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-spaceBetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.forgotPwWrapper-BH {
  @include flex-column;
  position: fixed;
  width: 29.17vw;
  left: 8.33vw;
  top: 50%;
  transform: translateY(-50%);
  left: 8.33vw;
  border: $default-border;

  .forgotPwHeading {
    padding: 2vw 4.2vw;

    .forgotPwTitle {
      font-weight: 400;
      text-decoration: underline;
      text-transform: capitalize;
      font-size: 1.81vw;
      line-height: 2vw;
    }
  }
  .forgotPwForm {
    position: relative;
    @include flex-column;
    padding: 2.1vw 4.2vw;
    border-top: $default-border;

    .emailInput {
      margin-bottom: 2vw;
      border-bottom: $default-border;
      line-height: 1.67vw;
    }

    .emailInput::placeholder {
      color: $default-black;
      font: $button-meta-font;
    }

    .forgotButton {
      height: 4.51vw;
      margin-bottom: 1.1vw;
      border: $default-border;
      font: $button-meta-font;
      line-height: 1.39vw;
    }

    .forgotButtonActive {
      height: 4.51vw;
      margin-bottom: 32px;
      border: $default-border;
      font: $button-meta-font;
      color: $default-white;
      background-color: $default-black;
      line-height: 1.39vw;
    }
  }
}
