$default-yellow: rgb(255, 232, 0);
$default-blue: rgb(9, 127, 255);
$default-green: rgb(38, 218, 79);
$default-grey-background: rgb(247, 247, 247);
$default-grey-text: rgb(204, 204, 204);
$default-black: rgb(0, 0, 0);
$default-white: rgb(255, 255, 255);
$default-red: rgb(196, 41, 60);

$default-border: 2px solid rgb(0, 0, 0);
$button-meta-font: 500 0.83vw "Work Sans";

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: $default-white;
}

* {
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-spaceBetween-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-spaceBetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.loginForm-BH {
  position: relative;
  @include flex-column;
  padding: 2.1vw 4.2vw;
  border-top: $default-border;

  .emailInput,
  .pwInput {
    margin-bottom: 2.29vw;
    border-bottom: $default-border;
    line-height: 1.67vw;
  }

  .emailInput::placeholder,
  .pwInput::placeholder {
    color: $default-black;
    font: $button-meta-font;
  }

  .loginButton {
    height: 4.51vw;
    margin-bottom: 1.2vw;
    border: $default-border;
    font: $button-meta-font;
    line-height: 1.39vw;
  }
  .loginButtonActive {
    height: 4.51vw;
    margin-bottom: 1.2vw;
    border: $default-border;
    font: $button-meta-font;
    color: $default-white;
    background-color: $default-black;
    line-height: 1.39vw;
  }
  .loginHelp {
    padding: 0.69vw 0px 2.08vw;
    line-height: 1.15;
    text-align: center;

    .forgotPw {
      color: $default-black;
      font-weight: 400;
      text-decoration: underline;
      text-transform: none;
      font-size: 0.95vw;
    }
  }
}
