.ProductDetails {
    .Description{
        background-color: black;
        display: flex;


        .LeftSlider {
            left: 0px;
            background-color: chartreuse;
            width: 50%;
        }

        .RightSlider  {
            right: 0px;
            background-color: coral;
            width: 50%;
        }
    }

    .YouMayAlsoLike{
        background-color: crimson;
        width: 100%;
    }
}