.ProductDetails {
    scroll-behavior: smooth;
    
    .Description{
        background-color: black;
        display: flex;


        .Leftside {
            left: 0px;
            width: 50%;
        }

        .Rightside  {
            right: 0px;
            width: 50%;
        }
    }

    .YouMayAlsoLike{
        background-color: crimson;
        width: 100%;
    }
}