@import "../../../../Styles/common.scss";
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -300%;
  }
}

.Menubar {
  width: 28vw;
  height: 450px;
  padding: 0 4vw;
  position: sticky;
  top: 10%;

  span {
    display: block;
    font-size: 0.8vw;
    margin: 16px 0;
    cursor: pointer;
  }

  span.visible::after {
    content: " -";
  }

  span.invisible::after {
    content: " +";
  }

  ul.visible {
    display: flex;
    flex-direction: column;

    li {
      width: 50px;
      margin: 5px 0;
      font-size: 1.2vw;
      font-weight: 600;
      cursor: pointer;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-color: #000;
        width: 0;
        height: 0;
        top: 105%;
        transition: 0.5s ease-in;
      }

      &:hover::before {
        width: 3.8vw;
        height: 1px;
      }
    }

    li.clicked {
      &::before {
        width: 3.8vw;
        height: 1px;
      }
    }
  }

  ul.invisible {
    display: none;
  }

  div {
    margin: 20px 0;
    p {
      font-size: 0.8vw;
      margin: 0 0 8px 0;
      text-transform: lowercase;
    }
  }

  .marquee {
    height: 20px;
    width: 100%;
    position: relative;
    background-color: $default-yellow;
    overflow: hidden;
    div {
      width: 450%;
      padding: 0;
      height: 13px;
      background-color: transparent;
      position: absolute;
      bottom: 0;
      display: flex;
      animation: marquee 9s linear infinite;

      span {
        font-size: 15px;
        font-weight: 500;
        display: block;
        padding: 0;
        float: left;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}
