svg {
  width: 11vw;
  margin-top: 0;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  g {
    fill: $default-yellow;
  }
}

svg.bigLogo {
  width: 90vw;
  margin-top: 10%;
}
