@import "../../../Styles/common.scss";
@import "./Logo.scss";
@import "./NavCenter.scss";
@import "./NavRight.scss";


.Nav {
  @include flex-spaceBetween-center;
  width: 100%;
  height: 6.94vw;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 0 5vw;
}
