.NavCenter {
  display: flex;
  font-size: 1.2vw;
  line-height: 2.01vw;
  span {
    display: inline-block;
    padding: 0 9px;
    position: relative;
    font-weight: bold;
    z-index: 1;
    &:hover {
      color: $default-yellow;
      cursor: pointer;
      &::after {
        width: 100%;
      }
    }
    &::after {
      background-color: $default-black;
      display: block;
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      transition: 0.3s ease;
    }
  }
}