.NavRight {
  font-weight: bold;
  font-size: 0.9vw;
  line-height: 2.32vw;
  font-weight: bold;
  display: flex;
  select{
    font-size: 0.9vw;
  }
  p {
    padding: 0 0.5vw;
    cursor: pointer;
  }
  div {
    position: relative;
    &:hover {
      cursor: pointer;
    }
    .circle {
      width: 2.3vw;
      height: 2.3vw;
      border-radius: 50%;
      background: $default-black;
      margin: 0 3px;
    }
    svg {
      width: 0.8vw;
      height: 0.8vw;
      position: absolute;
      top: 30%;
      left: 35%;
      background-color: transparent;
      fill: white;
    }
  }
}
